<div class="user_show_container">
  <div  class= "show_profile">
   <div> <%= image_tag "img/profile.jpeg" %>  </div>
    <div class= "borders">
      <h3 class = "user_name"><%= @user.name %></h3>
      <span class="num">
        Number of posts: <% if @user.post_counter.to_i > 0 %> <%= @user.post_counter %> <% else %>
        <%= 0 %> <% end %>
      </span>
    </div>
  </div>
  <div class = "border" >
    <h3 class="bio">Bio:</h3>
    <p class = "post_show_title"><%= @user.bio %></p>
  </div>
  <div >
    <% @user.most_recent_post.each do |post| %>
    <div class = "border">
      <h5 class = "post_show_id">Post #<%= @user.post_counter %></h5>
      <h4 class = "post_show_titles"><%= post.title %></h4>
      <p class = "post_show_text"><%= post.text %></p>
      <% if post.comments_counter.to_i > 0 %>
      <span  >Comments: <%= post.comments_counter %></span>
      <% else %>
      
      <span >Comments: <%= 0 %></span>
      <% end %> <% if post.likes_counter.to_i > 0 %>
      <spam>Likes:<%= post.likes_counter %></span>
      <% else %>
      <span >Likes: <%= 0 %></span>
    
    </div>
      <% end %> <% end %>
  </div>
  <button  class="btn" type="button">See all posts</button>
</div>