<div class="posts_index_view">
    <div class="post_show">
    <div> <img src= "<%= @user.photo %>" class="py-2 userImage"> </div>

    <div class = "borders" >
      <h3 class="user_name"><%= @user.name %></h3>
      <span class="num" >
        Number of posts: <%= @user.post_counter %>
      </span>
    </div>
  </div>
  <div>

    <div class="link-new-post">
    <%= link_to "Create A New Post", new_user_post_path, class: "new-btn" %>
    </div>
    <% Post.all.each do |post| %>
      <%= link_to user_post_path(user_id: post.author_id, id: post.id) do %>
      <div class="post-content">
        <div class="ptitle"> Post : <%= post.title%></div>
        <div class="ptext"><%= post.text%></div>
        <div class="pcount">
        Comments: <%= post.comments_counter%>
        Likes: <%= post.likes_counter%>
    </div>
    <% if can? :destroy, post %>
        <%= button_to "Delete Post", user_post_path(post.author.id, post.id), method: :delete, class: "delete-btn" %>
        <% end %>
        </div>
    <div class="comments-container"> 
     <% post.most_recent_comments.each do |comments| %>
     <div class="comments">
     <div class="comments-context">
     <%= comments.author.name %> :  <%= comments.text %>
     </div>
     </div>
     <% end %>
      <% end %>
      </div>
    <% end %>
  </div>
     <div class="all-posts"><%= link_to "Pagination", user_posts_path(user_id: @user.id), class: "posts-btn" %></div>